<div class="card h-100" *ngIf="item">
    <img [src]="item.image.url" class="card-img-top" alt="{{item.name}}">
    <div class="card-body">
        <h5 class="card-title">Name: {{item.name}}</h5>
        <p class="card-text mb-0">
            <span class="fw-bold">Place of birth:</span>
            {{item.biography.place_of_birth}}
        </p>
        <p class="card-text mb-0">
            <span class="fw-bold">Occupation:</span>
            {{item.work.occupation}}
        </p>
        <p class="card-text mb-0">
            <span class="fw-bold">Group affiliation:</span>
            {{item.connections.group_affiliation}}
        </p>
        <p class="fw-bolder border-bottom mb-1 mt-2">Appearance</p>
        <p class="card-text mb-0">
            <span class="fw-bold">Race:</span>
            {{item.appearance.race}}
        </p>
        <p class="card-text mb-0">
            <span class="fw-bold">Eye color:</span>
            {{item.appearance.eye_color}}
        </p>
        <p class="card-text mb-0">
            <span class="fw-bold">Hair color:</span>
            {{item.appearance.hair_color}}
        </p>
    </div>
</div>
